<div class="splash-wrapper">
  <div class="splash-title">BudgetSnapp</div>
  <div class="splash-buttons">
    <%= link_to 'Sign up', new_user_registration_path, class: "splash-button" %>
    <%= link_to 'Log in', new_user_session_path, class: "splash-button" %>
  </div>
</div>