* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.navbar {
  display: flex;
  background-color: #3778c2;
}

.navbar-user li {
  list-style: none;
}

.navbar p {
  font-family: proxima-nova, sans-serif;
  color: white;
}

.splash-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100vh;
  background-color: #ffffff;
}

.splash-title {
  font-family: proxima-nova, sans-serif;
  font-size: 3em;
  color: black;
  margin-top: 15rem;
}

.splash-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.splash-button {
  font-family: proxima-nova, sans-serif;
  font-size: 1.5em;
  color: white;
  background-color: #3778c2;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  margin: 10px;
  text-decoration: none;
  text-align: center;
  width: 90%;
}
