<p style="color: green"><%= notice %></p>

<h1>Expenses Hi</h1>

<div id="expenses">
  <% @expenses.each do |expense| %>
    <%= expense.name %>
    <%= expense.amount %>
  <% end %>
</div>

<div class="cat-button">
  <%= link_to "Add a new expense", new_expense_path, :class => "add-new-category" %>
</div>